<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<script>

function openBoard(){
    submit("/dashboard/openBoard");
}

function openBoard2(){
	var selectedId = $('#selectedId').val();
    submit("/dashboard/openBoard2/" + selectedId);
}

function editBoard(){
	var selectedId = $('#selectedId').val();
    submit("/dashboard/editBoard/" + selectedId);
}

function deleteBoard(){
  $("#confirmDeleteBoard").dialog({
      modal: true,
      resizable: false,
      draggable: false,
      open: function(){
      	var focusButton = $(".ui-dialog-buttonset>button:nth-child(2)");
      	focusButton.focus();
      },
      buttons: {
        "はい": function() {
          $(this).dialog("close");
          var selectedId = $('#selectedId').val();
          submit("/dashboard/deleteBoard/" + selectedId);
        },
        "いいえ": function() {
          $(this).dialog("close");
          return false;
        }
      }
    });
}

function createBoard(){
    submit("/dashboard/createBoard");
}

function userManage(){
    submit("/usermanage/index");
}

function showDescription(){
	var value = $('#selectedId').val();
	var desc=$("#selectedId option[value='" + value + "']").data('desc');
	$('#description-area').text(desc);
}

// カテゴリー・タイトルプルダウンを設定する。
function setUpPulldowns(){
	var data = <%- categoryData %>;
	var categories = data["categories"];
	var map = data["map"];
	categories = [""].concat(categories);
	_.each(categories, function(category){
		var $option = $('<option></option>')
			.text(category);
		$('#category').append($option);
	});
	$('#category').change(function (){
		var cat = $(this).val();
		var boards = map[cat];
		$('#selectedId').empty();
		_.each(boards, function(item){
			var op = $('<option></option>');
			op.text(item["title"]);
			op.val(item["id"]);
			op.data('desc', item["desc"]);
			$('#selectedId').append(op);
		});
		showDescription();
	});

	$('#selectedId').bind('change', function(){
		showDescription();
	});

	$('#category').trigger('change');

}
$(function(){
	setUpPulldowns();
	showDescription();
})
</script>
<div class="container theme-showcase" role="main">
<form name="main" method="POST">
<div class="row" style="margin-bottom:10px;">
	<div class="form-group">
		<label for="category" class="col-sm-2 col-lg-1 control-label">カテゴリー</label>
		<div class="col-sm-10 col-lg-6">
			<select id="category" name="category" class="form-control"></select>
		</div>
	</div>
</div>
<div class="row" style="margin-bottom:10px;">
	<div class="form-group">
		<label for="selectedId" class="col-sm-2 col-lg-1 control-label">タイトル</label>
		<div class="col-sm-10 col-lg-6">
		<div class="input-group">
			<select id="selectedId" name="selectedId" class="form-control"></select>
			<div class="input-group-btn">
				<button id="action" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">操作&nbsp;<span class="caret"></span></button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<li><a id="action_open" onclick="openBoard2()">開く</a></li>
					<li><a id="action_edit"  onclick="editBoard()">編集</a></li>
					<li><a id="action_delete"  onclick="return deleteBoard()">削除</a></li>
				</ul>
			</div><!-- /btn-group -->
		</div></div>
	</div>
</div><!-- /.row -->
<div class="row">
	<div class="form-group">
	<label for="description-area" class="col-sm-2 col-lg-1 control-label">説明</label>
	<div class="col-sm-10 col-lg-6">
      <div id="description-area" class="well"></div>
      </div></div>
      </div>
  <button type="button" class="btn btn-default" onclick="createBoard()" >新規作成</button>
    </div> <!-- /container -->

<input type="hidden" name="loginUserId" value="<%= loginInfo.userId %>"/>

</form>
<div id="confirmDeleteBoard" title="ボード削除の確認" style="display:none">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 30px 0;"></span>
    ボードを削除します。よろしいですか？
  </p>
</div>