<div id="dialog-form" title="カテゴリーの追加">
  <form>
    <fieldset>
      <label for="name">名称</label>
      <input type="text" name="newCategory" id="newCategory" value="" style="width:100%" class="text ui-widget-content ui-corner-all">
           <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>